.tn-section {
    overflow: hidden;
    background-color: black;
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
.button4 {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
}

.button4:hover {background-color: #e7e7e7;
border-color: #eaaf00;}
/*to remove the number up and down arrrow*/
.modal-title{
    font-size: 20px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
* {
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
}
body {
    font-family: roboto,sans-serif;
    
}
body {
    line-height: 1.08;
    color:#000;
    overflow-y: auto;
}


element {
}

.tn-section .tn-section-tabs.tn-tabs-2 ul li {
    width: 80px;
    display: table;
    height: 48px;
    background: 0;
    border: 0;
    padding: 40px;

}
.tn-section .tn-section-tabs.tn-tabs-2 ul li.ui-tabs-active a {
    color: #fff;
    border-color:#ffc107;
}
.tn-section .tn-section-tabs.tn-tabs-2 ul li a {
    display: table-cell;
    height: 45px;
    line-height: normal;
    padding: 0;
    border: 0;
        border-top-color: currentcolor;
        border-right-color: currentcolor;
        border-bottom-color: currentcolor;
        border-bottom-style: none;
        border-bottom-width: 0px;
        border-left-color: currentcolor;
    color: #757575;
    vertical-align: middle;
    border-bottom: 3px solid 
    transparent;
        border-bottom-color: transparent;
}
.tn-section .tn-section-tabs ul li.ui-tabs-active a {
    color: #212121;
    border-color: #e2e2e2;
}
.tn-section .tn-section-tabs ul li a {
    display: block;
    width: 209px;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    font-weight: 500;
    color: #bdbdbd;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid transparent;
    text-decoration: none;
}
.tn-section .tn-section-tabs.tn-tabs-2 ul li a {
    display: table-cell;
    height: 45px;
    line-height: normal;
    padding: 0;
    border: 0;
        border-bottom-color: currentcolor;
        border-bottom-style: none;
        border-bottom-width: 0px;
    color: #757575;
    vertical-align: middle;
    border-bottom: 3px solid
    transparent;
}

a {
    text-decoration: none;
}
.tn-section .tn-section-tabs ul li.ui-tabs-active {
    background: #fff;
}
.tn-section .tn-section-tabs ul li {
    float: left;
    height: 40px;
    background: #f5f5f5;
}

#ulShowDate {
}

.tn-section .tn-section-tabs.tn-tabs-2 ul {
    width: auto;
    margin: 0;
}
.tn-section .tn-section-tabs ul {
    width: 422px;
    margin: 0 auto;
    margin-bottom: 48px;
    overflow: hidden;
}
ol, ul {
    list-style: none;
}


.tn-section-content {
    width: 990px;
    margin: 0 auto;
    padding: 10px 0;
}
.tn-section .tn-section-tabs.tn-tabs-2 ul li {
    width: 88px;
    display: table;
    height: 48px;
    background: 0;
    border: 0;
}
}
.tn-entity-list .tn-entity-and-timing-details:hover {
    background: 
    #f5f5f5;
}
.tn-entity-list .tn-entity, .tn-entity-list .tn-entity-and-timing-details {
    overflow: hidden;
}
.tn-block {
    padding: 25px 0;
    border-bottom: 1px solid 
    #e2e2e2;
    overflow: hidden;
}
.tn-entity-list .tn-entity-details, .tn-entity-details {
    float: left;
    width: auto;
    padding: 0 48px;
}
.tn-entity-list .tn-timing-details, .tn-timing-details {
    float: left;
    width: 800px;
    padding: 0 40px;
    overflow: hidden;
}
.tn-entity-list .tn-entity, .tn-entity-list {
    overflow: hidden;
}
.tn-block {
    padding: 25px 0;
    border-bottom: 1px solid  #e2e2e2;
    overflow: hidden;
}
.tn-section .tn-section-tabs.tn-tabs-2 ul li a {
    display: table-cell;
    height: 45px;
    line-height: normal;
    padding: 0;
    border: 0;
        border-bottom-color: currentcolor;
        border-bottom-style: none;
        border-bottom-width: 0px;
    color: 
#757575;
vertical-align: middle;
border-bottom: 3px solid
    transparent;
}
.tn-section .tn-section-tabs ul li a {
    display: block;
    width: 209px;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    font-weight: 500;
    color: #bdbdbd;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid transparent;
    text-decoration: none;
}
#ulShowDate{
    display: inline;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #1b1b1f;
   color: white;
   text-align: center;
}
